apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backend-role
rules:
- apiGroups: [""]
  resources: ["nodes", "pods"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: backend-role-binding
subjects:
- kind: ServiceAccount
  name: default
  namespace: sample-prod
roleRef:
  kind: ClusterRole
  name: backend-role
  apiGroup: rbac.authorization.k8s.io
