name: JFrog Artifactory Cleanup

on:
  workflow_dispatch:

jobs:
  JFrog-Cleanup:
    runs-on: codeberg-tiny
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set permissions
      run: |
        chmod +x ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh

    - name: Set up JFrog CLI
      uses: jfrog/setup-jfrog-cli@v4
      with:
        version: 'latest'
      env:
        JF_URL: ""
        JF_ACCESS_TOKEN: ${{ secrets.ARTIFACTORY_CI_SWP_TOKEN }}

    - name: Test Connection
      run: |
        jf rt ping

    - name: Delete Feature Branch Artefakte
      run: |
        jf rt del local-maven-snapshot-git-branch-repo/* --quiet

    - name: Delete old Snapshots - ci-jtt-app
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/ci-jtt-app"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR

    - name: Delete old Snapshots - foundation-server
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/foundation-server"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR

    - name: Delete old Snapshots - prd-jtt-app
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/prd-jtt-app"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR

    - name: Delete old Snapshots - swp-jtt-client
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/swp-jtt-client"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR
        
    - name: Delete old Snapshots - swp-jtt-server
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/swp-jtt-server"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR

    - name: Delete old Snapshots - uat-jtt-app
      run: ${GITHUB_WORKSPACE}/.github/workflows/scripts/jfrog-cleanup.sh "local-maven-snapshot-repo" "ch/swp/jtt/uat-jtt-app"
      env:
        JFROG_CLI_LOG_LEVEL: ERROR