- name: Install KVM on Debian
  hosts: hosts
  become: yes
  tasks:
    - name: Install KVM and related packages on Debian
      apt:
        name:
          - qemu-kvm
          - libvirt-daemon
          - libvirt-daemon-system
          - libvirt-clients
          - bridge-utils
          - virtinst
        state: present