#
# Configuration file for the Xen instance rocket-search, created
# by xen-tools 4.9 on Wed Nov 27 08:28:08 2024.
#

#
#  Kernel + memory size
#


bootloader = 'pygrub'

vcpus       = '4'
memory      = '8192'


#
#  Disk device(s).
#
root        = '/dev/xvda2 ro'
disk        = [
                  'file:/opt/xen/domains/rocket-search/disk.img,xvda2,w',
                  'file:/opt/xen/domains/rocket-search/swap.img,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'rocket-search'

#
#  Networking
#
vif         = [ 'ip=<IP> ,mac=00:16:3E:C9:7A:A2,bridge=xenbr0' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'
