#
# Configuration file for the Xen instance rocket-search
# Modified for ISO installation
#

#
#  Kernel + memory size
#
# bootloader = 'pygrub'   # Can't boot an ISO, need HVM for that
type        = 'hvm'       # HVM required to boot from ISO
vcpus       = '4'
memory      = '38912'

#
#  Disk device(s).
#
disk = [
    'format=raw, vdev=xvda, access=rw, target=/media/raid-b/opt/xen/domains/rocket-search/os-disk.img',
    'format=raw, vdev=xvdc, access=ro, devtype=cdrom, target=/opt/xen/iso/debian-13.4.0-amd64-netinst.iso',
]

# Boot from CD first, then disk
boot        = 'dc'

#
#  Hostname
#
name        = 'rocket-search'

#
#  Networking
#
vif         = [ 'ip=<IP>,mac=00:16:3E:C0:B4:94,bridge=xenbr0' ]

#
#  VNC console (needed during install since there's no pygrub text console)
#

vfb = [ 'type=vnc,vnclisten=127.0.0.1,vncunused=1,vncdisplay=1' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'destroy' # Replace with restart after installation
on_crash    = 'restart'
